* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0 solid;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
input:focus,
button:focus,
textarea:focus,
a:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
p:last-child {
  margin-bottom: 0;
}
p {
  font-family: 'Poppins', sans-serif;
  color: #10285d;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: normal;
}

.header-top-area {
  background: #218ae6;
  padding: 12px 0;
  font-size: 16px;
}

.header-top-area, .text-end i.fa {
  padding-left: 15px;
}

.header-top-area, .header-top-area a {
  color: #fff;
}

.header-area {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 5;
  background: #fff;
  padding: 8px;
  box-shadow: 0px 0px 6px 0px #9999;
}
.header-area img {
  height: auto;
  width: 103px;
}
.section-padding {
  padding: 80px 0;
}
.header-area h3 {
  font-weight: 700;
  padding: 5px 0;
  margin: 0;
}

.header-area h3 a {
  color: #333;
}

.header-area ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-area li {
  display: inline-block;
  padding: 18px 0;
}
.header-area li a {
  display: block;
  padding: 0;
  color: #888;
  padding-left: 30px;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s ease;
  font-weight: 500;
  font-size: 16px;
}

.header-area li:hover a {
  color: #218ae6;
}
.boxed-btn {
  display: inline-block;
  font-size: 16px;
  background: #218ae6;
  color: #fff;
  padding: 8px 35px;
  border-radius: 4px;
  border: 2px solid #218ae6;
  transition: .3s ease;
  margin: 8px 0;
}
.boxed-btn:hover {
  border: 2px solid #ec5b53;
  color: #ec5b53;
  background: none;
}
.homepage-slides {
  color: #ffffff;
}
.homepage-slides p {
  color: #fff;
  font-size: 16px;
}
.home1 {
  background-image: url(assets/img/hero-img-02.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 656px;
}
.home2 {
  background-image: url(assets/img/hero-bg-1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home3 {
  background-image: url(assets/img/hero-bg-02.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.homepage-slides h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.slide-btn {
  background-color: #ec5b53;
  color: #fff;
  font-weight: 400;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15px;
  transition: 0.5s;
  border: 1px solid #ec5b53;
}
.slide-btn:hover {
  color: #ec5b53;
  background-color: rgba(255, 255, 255, 0.438);
  border: 1px solid;
}
.single-homepage-slide::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}

.single-homepage-slide {
  padding: 130px 0;
  position: relative;
  z-index: 1;
}
.single-homepage-slide.home1 {
  color: #218ae6;
}

.single-homepage-slide.home1 p {
  color: #777;
}
.homepage-slides .owl-dots .owl-dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  margin: 5px;
}
.homepage-slides .owl-dots .owl-dot.active {
  background: #ff5f13;
}
.homepage-slides .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

/*---------------
collapsible 
 --------------- */
.section-bg-1:after{background-image: url(./assets/img/why-choose-us.pn);background-size: cover;background-position: center;background-color: #dddddd;height: 100%;width: 48%;content: "";position: absolute;left: 0;top: 0;}
.section-bg-1{ position: relative;}
h2.section-title{ font-weight: 700;text-transform: uppercase; font-size: 35px; color: #333333;}
.section-title span{color : #18b5fd;}
.card-header {
  background: none;
  border: none;
  padding: 14px 15px;
}
.styled-faq .card-body{ border: none ; color: #a9a9a9; font-size: 15px; line-height: 1.7;}
.styled-faq .card{ border-radius: 0; box-shadow: 0 0 0; margin-bottom: 10px;}
.styled-faq .card-header a{ display: block; padding: 0px; position: relative;color: cornflowerblue;
    font-weight: bold;}
.styled-faq .card-header a i.fa { display: none; float: right; font-size: 150%; line-height: 15px;  }
.styled-faq .card-header a[aria-expanded=true] i.fa-angle-down{display: block;} 
.styled-faq .card-header a[aria-expanded=false] i.fa-angle-up{display: block;} 
.styled-faq {min-height: 440px;margin-top: 25px;}

.about-table {
  display: table;
  height: 100%;
  width: 100%;
}

.about-tablecall {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.about-text h5 {
  padding-left: 25px;
  border-left: 2px solid #ff5f13;
  margin-bottom: 30px;
}
.about-text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  display: block;
  color: #000a2d;
  font-weight: 600;
  margin-bottom: 40px;
}

.about-text p {
  margin-bottom: 20px;
}
/*service section*/
section#services {
  padding-top: 0;
}
.service-text {
  margin: 0 auto;
  display: inline-block;
}
.service-text h1 {
  font-size: 26px;
  font-weight: 500;
  border-bottom: 3px solid #ec5b53;
  padding: 3px 0;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  width: 105%;
}
.categories-area .single-cat {
  border: 1px solid #e1ebf7;
  border-radius: 6px;
  padding: 30px;
  transition: all 0.4s ease-out 0s;
  position: relative;
  z-index: 1;
  margin: 30px 0;
  height: 580px;
}
.categories-area .single-cat::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  transition: 0.6s;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 6px;
}
.categories-area .single-cat::before {
  background: #2467ec;
  background: -moz-linear-gradient(45deg, #2467ec 0%, #2fd8fb 100%);
  background: -webkit-linear-gradient(45deg, #2467ec 0%, #2fd8fb 100%);
  background: linear-gradient(45deg, #2467ec 0%, #2fd8fb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2467ec', endColorstr='#2fd8fb',GradientType=1 );
}
.categories-area .single-cat:hover::before {
  height: 100%;
}
.categories-area .single-cat:hover {
  border: 1px solid transparent;
}
span.paintbrush a i {
  color: #ec5b53;
  font-size: 50px;
  margin-bottom: 35px;
  width: 100px;
  height: 100px;
  font-weight: 400;
  background: #ffe0e3;
  line-height: 100px;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
}
.categories-area .single-cat:hover a i {
  background: #fff;
}

/*isotop*/

.single-project-item {
  background-image: url(assets/img/1.jpg);
}
.project-bg-2 {
  background-image: url(assets/img/about-img.png);
}
.project-bg-3 {
  background-image: url(assets/img/hero-img-1.jpg);
}
.project-bg-4 {
  background-image: url(assets/img/hero-img-2.jpg);
}
.project-bg-5 {
  background-image: url(assets/img/hero-img-3.jpg);
}
.project-bg-6 {
  background-image: url(assets/img/hero-img-3.jpg);
}
.project-bg-7 {
  background-image: url(assets/img/hero-img-4.jpg);
}
.project-bg-8 {
  background-image: url(assets/img/1.jpg);
}
.project-bg-9 {
  background-image: url(assets/img/hero-img-1.jpg);
}


.projects-titles {
  list-style: none;
  margin: 0px 0 40px;
  padding: 0;
}

.projects-titles li {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
}

.single-project-item a,
.single-project-item span,
.projects-titles li.active {
  color: #00ddd6;
}

.single-project-item {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}
.row.projects-list .col-md-4:nth-child(2) .single-project-item,
.row.projects-list .col-md-4:nth-child(4) .single-project-item,
.row.projects-list .col-md-4:nth-child(6) .single-project-item {
  height: 615px;
}
.row.projects-list .col-md-4 {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.row.projects-list {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.project-hover {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: 0.3s;
}

.single-project-item:hover .project-hover {
  opacity: 1;
}

.project-hover:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: #000;
  z-index: -1;
  opacity: 0.6;
}

.project-hover a {
  position: absolute;
  right: 30px;
  top: 30px;
}

.project-hover h4 {
  font-weight: 400;
  color: #fff;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.project-hover h4 span {
  display: block;
  font-size: 80%;
  margin-top: 10px;
}
.data-filter-text h2 {
  font-size: 50px;
  color: #000a2d;
  font-weight: 500;
  padding-bottom: 15px;
  margin-top: -70px;
}
.section-padding#portfolio{margin: 80px;}
/*contact form*/

.white-box {
  box-shadow: 0px 0px 10px #f5f5f5;
  padding: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
textarea {
  background: #f9f9f9;
  border: none;
  padding: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

.contact-form input[type="submit"] {
  width: auto;
  margin: 0;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

input[type="submit"],
button[type="submit"] {
  border: none;
  background: #ec5b53;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
}

/*colord-box css*/
.colored-box h4,
.white-box h4 {
  margin-bottom: 40px;
  font-weight: 400;
}

.colored-box {
  padding: 30px;
  background: #2196f3;
  color: #fff;
  min-height: 100%;
}

.colored-box a {
  color: #fff;
}

.contact-info {
  position: relative;
  padding-left: 47px;
  margin-bottom: 20px;
  color: #fff;
}

.contact-info i.fas {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 20px;
}

.contact-info i.fa {
  position: absolute;
}
.social-icon a {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  background: #fff;
  color: #13acf3;
  line-height: 42px;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 10px;
  box-shadow: 0 0 4px #777;
  transition: 0.3s;
}
.social-icon a:hover {
  color: #2196f3;
  box-shadow: 0 0 0;
}
/*footer content*/
.footer-area {padding: 70px 0;background: #2196f3;}
.footer-area h4 {font-size: 20px;color: #fff;}
.footer-area ul {margin: 0;padding: 0;list-style: none;line-height: 2;}
.footer-area, .footer-area a {color: #fff;}
.email-subscribe-from input[type="email"] {width: 67%;padding: 10px 15px; margin-right: -4px;border-color: #888;background: #f6f6f6;}
.email-subscribe-from input[type="submit"] {width: 30%;padding: 12px;border-radius: 0;line-height: 20px;}
.email-subscribe-from {margin-bottom: 35px;}
.footer-area ul.social-link li {display: inline-block;width: 30%;font-size: 15px;}
.social-link i.fab {color: #fff;margin-right: 5px;font-size: 14px;}
.footer-area .social-link a:hover, .footer-area .social-link a:hover i.fab {opacity: .7;}
.footer-area .social-link a,.footer-area .social-link a i.fab {transition: .3s ease;}




.course-name-details {
  color: #333;
  font-size: 14px;
}

.course-name-details h3 {
  text-align: center;
  font-size: 20px;
  color: #218ae6;
  font-weight: 500;
  transition: .3s ease;
}

.course-name-details p {
  font-size: 13px;
  text-align: center;
  line-height: 18px;
  color: #888;
  transition: .3s ease;
}

.course-name-details ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.course-name-details li {
  display: inline-block;
  padding: 5px;
  transition: .3s ease;
}

.learn-more-btn {
  background: #ec5b53;
  display: block;
  text-align: center;
  border-radius: 3px;
  padding: 10px 20px;
  color: #fff;
  margin-top: 20px;
  transition: .3s ease;
}

.course-name-details a {
  color: #fff;
  transition: .3s ease;
}
i.fa.fa-arrow-right {color: #777;font-size: 12px;margin-right: 5px; transition: .3s ease;}
.single-cat:hover .course-name-details .learn-more-btn{
  background: #fff;
 color: #ec5b53;
}
.single-cat:hover .course-name-details, 
.single-cat:hover .course-name-details h3, 
.single-cat:hover .course-name-details i.fa.fa-arrow-right, 
.single-cat:hover .course-name-details p{
  color: #fff;
}




.section-titile{ margin-bottom: 60px;}
.owl-carousel .owl-item .single-staff-item img{ max-width: 160px; width: 165px; border-radius: 50%;}
.staff-meta{ font-size: 12px; color: #b7b7b7; margin-top: 20px;}
.staff-meta h2{ margin: 0 0 10px; text-transform: uppercase; font-size: 20px;}
.staff-list .owl-nav span{     display: inline-block;
    width: 50px;
    height: 40px;
    background: #f3f3f3;
    text-align: center;
    line-height: 32px;
    margin-left: 10px;
    padding: 5px;
    font-size: 40px;
    transition: .3s;}
.staff-list .owl-nav span:hover { background: #13acf3; color: #ffffff; }
.owl-nav{ position: absolute; right: 0; top: -55px;}
.section-titile h2{position: relative;
z-index: 1;
padding-bottom: 18px;
margin-bottom: 20px;}
.section-titile h2::before{position: absolute; bottom: 0 ; left: 0; width: 60px; height: 5px; background: #b7b7b7; content: "";}
.section-titile h2::after{ bottom: 0; left: 0; width: 45px; height: 5px; content: ""; background: #13acf3; position: absolute;}


.copyright-area {background: #f7f7f7;padding: 15px 0 13px;}

